<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Express Project</title>
    <link rel="stylesheet" href="../../../compiled/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div class="col-md-12 text-center">
      <a href="<%=language.ReturnHome %>" class="btn btn-danger btn-lg">Return to Homepage</a>
      <h2><%= language.title %></h2>
      <img src="<%=language.ImageUrl %>" />
      <p>
        Image was obtained from <a href="<%=language.Image %>">Google Images</a>
      </p>
      <p>
        <%=language.Description %>
      </p>
      <p>
        If you are interested in learning the following languages: You can learn from these <a href="<%=language['More Information'] %>">Tutorials</a>
      </p>
    </div>
  </body>

</html>
